@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');
body, html{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 360px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #2F1C7C;
    border-radius: 360px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #f2f2f2;
    border-radius: 360px;
  }
  
  /* Firefox */
  /* Please note that Firefox requires a different set of CSS properties */
  /* You may need to experiment with the styles to achieve the desired effect */
  /* Also, Firefox supports scrollbar-color property as of Firefox 64 */
  
  /* Track */
  scrollbar-track {
    background-color: transparent;
  }
  
  /* Thumb */
  scrollbar-thumb {
    background-color: #f2f2f2;
  }
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    z-index: 100;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    user-select: none;
}
.navbar h1{
    font-size: 2.5em;
    margin: 50px;
    color: #f2f2f2;
}
ul{
    list-style: none;
    display: flex;
}
li{
    margin: 20px;
    margin-left: 20px;
    position: relative;
    
}
li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #f2f2f2;
    transition: width 0.3s ease-in-out;
}
  li:hover::after {
    width: 100%;
}
.plus,
.minus{
    color: #f2f2f2;
    cursor: pointer;
}
.plus:hover::after,
.minus:hover::after,
.contrast:hover::after{
  width: 0%;
}
.contrast{
  margin-left: 50px;
  font-weight: 400;
  color: #f2f2f2;
  cursor: pointer;
}
.high-contrast{
  color: yellow;
}
.high-contrast .content #pauseButton,
.high-contrast .content .btn1 a{
  color: yellow;
}
.high-contrast .plus,
.high-contrast .minus,
.high-contrast .navbar a,
.high-contrast h1,
.high-contrast .contrast{
color: yellow;
}
.high-contrast .content .btn1
 {
  background-color: #000;
  border: 1px solid #000;
  color: yellow;
}
.high-contrast .content .btn1:hover{
  border: 1px solid #000;
  background-color: transparent;
}
.high-contrast .projects,
.high-contrast .projects .project,
.high-contrast .projects h3,
.high-contrast .projects p,
.high-contrast .projects h2{
  background-color: #000;
  color: yellow;
}
.high-contrast .projects .project{
  border: 1px solid #f2f2f2;
}
.high-contrast .contact,
.high-contrast .contact h2,
.high-contrast .contact-form button{
  background-color: #000;
  color: yellow;
}
.high-contrast .contact-form input,
.high-contrast .contact-form textarea{
  background-color: #f2f2f2;
}
.contrast:hover{
color: yellow;
}
a{
    text-decoration: none;
    color: #f2f2f2;
    font-weight: 400;
}
.head {
    position: relative;
    height: 100vh;
  }
  
  .video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #pauseButton {
    position: absolute;
    bottom: 15px;
    right: 20px;
    background-color: transparent;
    border: none;
    font-size: 2em;
    color: #ffffff;
    cursor: pointer;
    outline: none;
  }

  .content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    user-select: none;
  }
  
  .content h1 {
    font-size: 5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  
  }
  
  .content p {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  
  .content .btn1 {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #2F1C7C;
    color: #f2f2f2;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid #2F1C7C;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
  }

  .btn1{
    transition: 0.3s ease-in;
  }
  .btn1:hover {
  border: 1px solid #2F1C7C;
  background-color: transparent;
  }
  
  
.line{
    border: 1px solid rgba(0, 0, 0, 0.8);
}
.projects {
    padding: 20px;
    background-color: #2F1C7C;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .projects img{
    width: 200px;
    height: 200px;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(37deg) brightness(106%) contrast(101%);
  }

  .high-contrast .projects img{
    filter: invert(100%) sepia(60%) saturate(3023%) hue-rotate(359deg) brightness(107%) contrast(106%);
  }
  
  .projects h2 {
    user-select: none;
    font-size: 5em;
    text-align: center;
    color: #f2f2f2;
}
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .project {
    background-color:#AB65F3;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .project h3 {
    font-size: 2.5em;
    color: #f2f2f2;;
  }
  
  .project p {
    font-size: 1.2em;
    color: #f2f2f2;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2F1C7C;
  }
  
  .contact h2 {
    font-size: 2em;
    user-select: none;
    justify-content: center;
    color: #f2f2f2;
    margin-bottom: 20px;
  }
  
  .contact-form {
    width: 400px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 95%;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #000;
    border: 1px solid #000;
    color: #f2f2f2;
  }
  
  .contact-form textarea {
    height: 150px;
    font-weight: bold;
    color: #f2f2f2;
  }
  
  .contact-form button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #000;
    color: #f2f2f2;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }

  .high-contrast .table{
    background-color: #000;
  }
#myTable{
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 1);
}
.table{
    background-color: #2F1C7C;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.table h2{
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

table, th, td {
    text-align: center;
    border:1px solid #AB65F3
  }
  th{
    font-size: 2em;
    font-weight: 800;
    padding: 10px;
  }
  td{
    padding: 20px;
    font-size: 1.5em;
    font-weight: 700;
  }
  .custom-table,
  .custom-table th,
  .custom-table td {
    border: 1px solid #f2f2f2;
}
  
  
  